body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
}

.chat {
    /*width: 600px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#messages {
    height: 300px;
    width: 800px;
    border: 1px solid #bbc9d5;
    display: block;
    
}